services:
  postgres:
    image: postgres:15
    container_name: taskflow-postgres
    environment:
      POSTGRES_DB: taskflow
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - taskflow_pg_data:/var/lib/postgresql/data

volumes:
  taskflow_pg_data:
